In [8]:
import urllib
import json
import requests
import pandas as pd

In [4]:
cities=[]
with open('dests.txt') as f:
    for i in f:
        cities.append(i.rstrip())
cities

['Istanbul', 'Amsterdam', 'Valletta', 'Basel', 'Doha']

In [5]:
yours_key ='put yours key here'
data=[]
for city in cities:
    Serviceurl ='https://maps.googleapis.com/maps/api/distancematrix/json?'
    parms = dict() 
    parms['origins']='Tel Aviv'
    parms['destinations'] =city
    parms['key'] = yours_key
    url = Serviceurl + urllib.parse.urlencode(parms)
    response=requests.get(url).json()
    distance=response['rows'][0]['elements'][0]['distance']['value']/1000
    Duration=response['rows'][0]['elements'][0]['duration']['text']
    url_2="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (city,yours_key)
    response_2=requests.get(url_2).json() 
    lat=response_2['results'][0]['geometry']['bounds']['northeast']['lat']
    lng=response_2['results'][0]['geometry']['bounds']['northeast']['lng']
    data.append([city,distance,Duration,lat, lng])

In [9]:
df=pd.DataFrame(data, columns=['City', 'Distance to Tel Aviv (km)','Duration', 'Latitude', 'Longitude'])
df

,City,Distance to Tel Aviv (km),Duration,Latitude,Longitude
0,Istanbul,1815.227,21 hours 3 mins,41.199239,29.428805
1,Amsterdam,4532.541,2 days 0 hours,52.431157,5.108020
2,Valletta,3792.883,2 days 3 hours,35.903686,14.520482
3,Basel,4092.805,1 day 20 hours,47.589902,7.634148
4,Doha,2164.477,22 hours 39 mins,25.412578,51.628121

In [20]:
df.loc[[1,2,3],['City']]

        City
1  Amsterdam
2   Valletta
3      Basel